{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <div class='border mb-3 p-3'>
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="{% static 'blog/images/profile.jpg' %}" class="img-fluid rounded-circle border m-2" width="120px" alt="author image">
                <div class="mt-3">
                    <a class="btn btn-secondary" href=""><i class='fas fa-pen fa-xs'></i> تحرير </a>
                </div>
            </div>
            <div class="col-md 9">
                <h2 class="mt-3">{{user.username}}</h2>
                <p class="font-weight-bold mt-4">الاسم: <span class="font-weight-normal">{{user.first_name}} {{user.lastname}}</span></p>
                <p class="font-weight-bold mt-3">البريد الالكترونى : <span class="font-weight-normal">{{user.email}}</span></p>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-4">
        <div class="col-md">
            <h3>عدد التدوينات الخاصه بى</h3>
            <h2 class='bg-secondary text-center text-light p-2'>(40)</h2>
            <h3 class="mt-3">تدويناتى</h3>
            <ul class="mt-2 pr-1">
                <a class="text-dark" href="">عنوان التدوينه</a>
            </ul>
            <ul class="mt-2 pr-1">
                <a class="text-dark" href="">عنوان التدوينه</a>
            </ul>
            <ul class="mt-2 pr-1">
                <a class="text-dark" href="">عنوان التدوينه</a>
            </ul>
            <div class="text-center">
                <a class="btn btn-secondary" href="">التالى</a>
                <span class="p-4">الصفحة 1 من 10</span>
                <a class="btn btn-secondary" href="">السابق</a>
            </div>
        </div>
    </div>
{% endblock %}